/* -- Header -- */

.header-principale{
	background-color: #fff;
	margin: 0px;
}
.container-menu{
	padding-top: 38px;
	height: 100px;
}
.menu{
	font-family: 'Open Sans', sans-serif;
	padding-left: 20px;
}
.nav-connexion{
	/*float: right;*/
	text-align: right;
}
.nav-classique{
	text-align: left;
}

/* -- Home -- */

.bloc-home{
	margin: 0px;
}
.container-image{
	background: url('../img/image-headr.jpg') no-repeat center fixed; 
  	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
	height: 400px;
	width: 100%;
}
.select-container{
	padding-top: 140px;
}
.select-container label{
	display: block;
	text-align: center;
}
.select-container h1{
	padding-bottom:40px;
	color: #FFF;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.home-principale{
	background-color: #fff;
	margin: 0px;
}
.container-home{
	height: 150px;
}
.container-tuto{
	height: 200px;
}
.bloc-member{
	background-color: #F0F0F0;
	margin: 0px;
}
.container-member{
	height: 850px;
}
.bloc-ad{
	padding-top: 50px;
}
.bloc-ad h2{
	font-size: 25px;
}
.bloc-tuto{
	padding-top: 50px;
}
.bloc-tuto h2{
	font-size: 25px;
}
.membre-filter{
	padding-top: 25px;
	padding-bottom: 25px;
}
.membre-filter-container img{
	width: 100%;
	padding-bottom: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.title-tuto{
	padding-bottom: 20px;
}

.mode-tuto{
	padding-bottom: 20px;
}
.mode-tuto h3{
	font-size: 20px;
	font-weight: bold;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
